@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  color:#fff;
  background:#1f1934;
  background:#64598a;
}
main{
  background:#8fcdd2;
  height: 100vh;
  height: 100dvh;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

